fastapi
uvicorn
python-dotenv
pydantic
pymongo
motor
pillow
pytesseract
python-multipart
chromadb
sentence-transformers
transformers
torch
numpy
PyPDF2
python-docx
python-pptx
starlette
typing-extensions